_region_.tex
_region_.tex~

*.out
*.aux
*.blg
*.log
*.rip
*.fmt
*.rip~
*.tex~
*.bib~
*.synctex.gz
*.toc

*.org~

*.DS_Store

*.py~
*.pyc
*.md~

.DS_Store

**/auto
**/_region_.prv

makefile~
.gitignore~

mysite.conf~

*.jemdoc~